<!-- PRUEBA PARA PROGRESS WAIT-->
<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <img src="~/Images/waitIcon.gif" class="icon" />
                    <span class="modal-text">Espere</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FIN -->