<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceOne" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58460/ServiceWeb/ServiceOneWCF.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceOne"
                contract="ServiceReferenceOne.IServiceOne" name="BasicHttpBinding_IServiceOne" />
        </client>
    </system.serviceModel>
</configuration>