<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceGeneral" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ServiceTwo/ServiceGeneral.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceGeneral"
                contract="ServiceReferenceGeneral.IServiceGeneral" name="BasicHttpBinding_IServiceGeneral" />
        </client>
    </system.serviceModel>
</configuration>