/* Estilo de Tabla */
table.table thead tr th {
    background: #001c43;
    color: white;
}

.pagination a {
    color: #001c43;
}

table.table tbody tr:nth-child(even) {
    background: #EEE;
}

table#idTableAseguradoE tbody tr:nth-child(even) {
    background: white;
}

table#idTableAseguradoE {
    border-collapse: inherit;
}

table.table tbody tr:nth-child(odd) {
    background: none;
}

table.table th, table.table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #DDD;
}

table.table {
    border: 1px solid #b9b4b4; /*#DDD*/
    margin-bottom: 0px;
}

.pagination-container {
    text-align: right;
}

table.table tbody tr td a {
    color: black;
}

table.table thead th.actionLink {
    width: 35px;
}


legend.scheduler-border {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom: none;
}

.text-on-pannel {
    background: #fff none repeat scroll 0 0;
    height: auto;
    padding: 3px 5px;
    position: absolute;
    margin-top: -47px;
}

.panel {
    /* for text on pannel */
    margin-top: 27px !important;
}

td div.panel {
    /* for text on pannel */
    margin-top: 0px !important;
}

.panel-body {
    padding-top: 30px !important;
}

.panel-primary {
    border-color: #b9b4b4 !important;
}

td div.panel-primary {
    border-color: #428bca;
    !important;
}

td div.panel {
    border: 0px solid transparent;
}

.text-primary {
    color: #001c43 !important;
    font-size: 13px;
}

.btn-dark {
    color: #ffffff;
    background-color: #001c43;
    border-color: #ffffff;
}

    .btn-dark:hover, .btn-dark:focus {
        color: #ffffff;
        text-decoration: none;
    }

.margin-20 {
    margin-right: 20px;
}

.margin-botton-10 {
    margin-bottom: 10px;
}

.margin-botton-2 {
    margin-bottom: 2px;
}

.margin-top-2 {
    margin-top: 2px;
}

.dataTables_empty {
    text-align: center !important;
}

.width-160 {
    width: 160px !important;
}

.width-140 {
    width: 140px !important;
}

#idTableAsegurado {
    border-collapse: inherit;
}

.listAsegurado {
    margin: auto;
    width: 82%;
}

table.table tbody tr td input {
    max-width: 450px !important;
}

.width-50 {
    width: 50px;
}

.width-40 {
    width: 40px;
}

.margin-botton-5 {
    margin-bottom: 5px;
}

.validation-summary-errors {
    margin-top: 5px;
}

.showRow {
    display: table-row;
}

/*table#idTableAsegurado {
    #e6f1f7
}*/

table#idTableAseguradoE .panel-default > .panel-heading {
    border: 1px solid #ddd;
    font-weight: bold;
}

table#idTableAseguradoE .panel-primary > .panel-heading {
    font-weight: bold;
}

table#idTableAseguradoE table.table thead tr th {
    color: black;
    background: white;
}

.title-table {
    font-weight: bold;
    color: #333;
}



#idTableAseguradoE .panel {
    margin-bottom: 0px;
}

#idTableAseguradoE tbody tr.showRow {
    background: #edf5ff !important;
}


body {
    padding-top: 130px !important;
}

#navContainer {
    background: white;
}

#navMenu {
    background-color: #001c43;
}

#navMenu .navbar-nav > li > a, #navMenu .navbar-header > a.navbar-brand  {
    color: white;
}

hr.hr_header {
    border: none;
    background-color: #F5b400;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 2px;
    margin: 0px 0px;
}

a.navbar-brand {
    /*display:block;*/
    visibility: hidden;
}

#navMenu .navbar-collapse {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

#navHeaderTitle {
    width: 40%;
    float: left;
    font-size: 56px;
    padding-top: 15px;
}

#navHeaderTitle a {
    font-size: 46px;
    color: black;
    visibility: visible;
}

#navHeaderUser {
    width: 60%;
    float: right;
    text-align: right;
    padding-top: 15px;
}

span.roleTag {
    font-weight: bold;
    color: #F5b400;
}

.bold{
    font-weight:bold;
}

.container .copyright {
    margin-top: 8px;
    color: white;
}

.footerPage {
    background: #A3A3A3;
    text-align: center;
    padding: 15px 0px 15px 0px;
}

/*css process modal -  processing-modal*/
.modal-static {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    margin-top: -100px;
    margin-left: -100px;
    overflow: visible !important;
}

    .modal-static,
    .modal-static .modal-dialog,
    .modal-static .modal-content {
        width: 200px;
        height: 70px;
    }

        .modal-static .modal-dialog,
        .modal-static .modal-content {
            padding: 0 !important;
            margin: 0 !important;
        }

            .modal-static .modal-content .icon {
                width: 40px;
                height: 40px;
            }

.modal-text {
    text-align: center;
    font-weight: bold;
}



@media (min-width: 768px) {
    body {
        padding-top: 130px !important;
    }

    div.navbar-header {
        display: none;
    }

    #navMenu .navbar-collapse {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    #navHeaderTitle a {
        font-size: 56px;
    }
}